<div class="toolbar" role="banner">
  <img alt="Logo" src="assets/favicon-32x32.png"/>
  <span>Training Analyser</span>
  <div class="spacer"></div>
  <span style="margin-right: 10px">Powered by manmanman</span>
</div>

<div class="content" role="main">
  <span>Training Analyser (TA) is een tool voor het week-na-week bijhouden van de training van je duiven, aangevuld met enkele handige features.</span>
  <span>TA werd geschreven door manmanman.</span>
  <span>Feedback en klachten kunnen meegedeeld worden per gele briefkaart.</span>

  <h3>Download:</h3>
  <span><a href="assets/TrainingAnalyser-v2021.05.jar">Training Analyser v2021.05</a></span>

  <h3>Eerste gebruik:</h3>
  <div class="alignleft">
    <p>- Op de .jar dubbelklikken of rechts klikken -> openen met -> Java</p>
    <p>- Op tabblad Update je naam en wachtwoord ingeven en Update klikken</p>
    <p>- Je team wordt nu voor de eerste keer ingeladen</p>
  </div>
  <div class="zoom"><img height="135px" alt="Update" src="assets/update.jpg"></div>

  <h3>Tabblad Duif:</h3>
  <div class="alignleft">
    <p>- Per groep door duiven scrollen</p>
    <p>- Overzicht per duif, met een grafiek van pops in de loop van de tijd, per vaardigheid</p>
    <p>- Een extra groep met alle duiven die geen groep hebben. Deze steek je dan best in een echte groep :)</p>
    <p>- Een extra groep met je volledig team</p>
    <p>- Eventueel ontbrekende beginstats bewaren (voor pasgeboren duiven worden beginstats vanzelf ingevuld, zie verder)</p>
    <p>- Beginstats overnemen van certificaat, indien dat bestaat</p>
    <p>- Notities per duif</p>
    <p>- Groepen beheren per duif</p>
    <p>- Rechtstreeks dumpen</p>
  </div>
  <div class="zoom"><img height="300px" alt="Update" src="assets/pigeon.png"></div>

  <h3>Tabblad Team:</h3>
  <div class="alignleft">
    <p>- Per groep alle leden in een tabel met hun huidige vaardigheden</p>
    <p>- Eventueel alle pops en plops tonen sinds een bepaalde week in het verleden</p>
    <p>- Selectie maken van duiven (vinkjes in eerste kolom) en de volledige selectie dumpen</p>
  </div>
  <div class="zoom"><img height="130px" alt="Update" src="assets/team.jpg"></div>

  <h3>Algemeen:</h3>
  <div class="alignleft">
    <p>- Duiven die deze week geboren werden (dat wil zeggen na afgelopen maandag) krijgen automatisch hun beginstats</p>
    <p>- Minstens elke week 1 keer updaten om de progressie van al je duiven te kunnen opvolgen</p>
    <p>- TA genereert een lijst met mogelijke talenten op basis van de pops. Dit werkt optimaal als alle gegevens van elke week beschikbaar zijn</p>
    <p>- TA geeft een waarschuwing indien je zieke duiven hebt</p>
  </div>

  <h3>Bij nieuwe versie:</h3>
  <div class="alignleft">
    <p>- De nieuwe versie (bv TrainingAnalyser-v2021.02.jar) zet je in dezelfde map als de vorige (bv TrainingAnalyser-v2021.01.jar)</p>
    <p>- Vanaf nu de nieuwe versie (.jar bestand) gebruiken</p>
    <p>- De vorige versie (.jar bestand) mag je verwijderen</p>
  </div>

  <h3>Versies</h3>
  <div class="alignleft">
    <p>- v2021.05</p>
    <p>Talenten per week</p>
    <p>Kleine verbetering voor labels tabel</p>
    <p>- v2021.04</p>
    <p>Melding indien ziektes</p>
    <p>Premie(-geschiedenis) tonen</p>
    <p>Vorm, libido en nachtvliegen op het team tabblad</p>
    <p>Groen voor de pops wat donkerder gemaakt voor betere leesbaarheid</p>
    <p>- v2021.03</p>
    <p>Talenten: TA genereert een lijst met mogelijke talenten op basis van de pops</p>
    <p>- v2021.02</p>
    <p>Bugfix voor de extra groep "Geen groep", die soms niet correct was</p>
    <p>Bugfix voor een foutje dat enkel voorkwam als je TA nooit sluit (gevonden door Nhubrech)</p>
    <p>- v2021.01</p>
    <p>Eerste release versie</p>
  </div>
</div>
