<div class="toolbar" role="banner">
  <img alt="Logo" src="assets/favicon-32x32.png"/>
  <span>Training Analyser</span>
  <div class="spacer"></div>
  <span style="margin-right: 10px">Made by manmanman</span>
</div>

<div class="content" role="main">
  <span>Training Analyser (TA) is een tool voor het week-na-week bijhouden van de training van je duiven, aangevuld met enkele handige features.</span>
  <span>TA werd geschreven door manmanman.</span>
  <span>Feedback en klachten kunnen meegedeeld worden per gele briefkaart.</span>

  <h3>Download:</h3>
  <span><a href="assets/TrainingAnalyser-v2021.01.jar">Training Analyser</a></span>

  <h3>Eerste gebruik:</h3>
  <div class="alignleft">
    <p>- Op de .jar dubbelklikken of rechts klikken -> openen met -> Java</p>
    <p>- Op tabblad Update je naam en wachtwoord ingeven en Update klikken</p>
    <p>- Je team wordt nu voor de eerste keer ingeladen</p>
  </div>
  <div class="zoom"><img height="135px" alt="Update" src="assets/update.jpg"></div>

  <h3>Tabblad Duif:</h3>
  <div class="alignleft">
    <p>- Per groep door duiven scrollen</p>
    <p>- Overzicht per duif, met een grafiek van pops in de loop van de tijd, per vaardigheid</p>
    <p>- Een extra groep met alle duiven die geen groep hebben. Deze steek je dan best in een echte groep :)</p>
    <p>- Een extra groep met je volledig team</p>
    <p>- Eventueel ontbrekende beginstats bewaren (voor pasgeboren duiven worden beginstats vanzelf ingevuld, zie verder)</p>
    <p>- Beginstats overnemen van certificaat, indien dat bestaat</p>
    <p>- Notities per duif</p>
    <p>- Groepen beheren per duif</p>
    <p>- Rechtstreeks dumpen</p>
  </div>
  <div class="zoom"><img height="300px" alt="Update" src="assets/pigeon.png"></div>

  <h3>Tabblad Team:</h3>
  <div class="alignleft">
    <p>- Per groep alle leden in een tabel met hun huidige vaardigheden</p>
    <p>- Eventueel alle pops en plops tonen sinds een bepaalde week in het verleden</p>
    <p>- Selectie maken van duiven (vinkjes in eerste kolom) en de volledige selectie dumpen</p>
  </div>
  <div class="zoom"><img height="130px" alt="Update" src="assets/team.jpg"></div>

  <h3>Algemeen:</h3>
  <div class="alignleft">
    <p>- Duiven die deze week geboren werden (dat wil zeggen na afgelopen maandag) krijgen automatisch hun beginstats</p>
    <p>- Minstens elke week 1 keer updaten om de progressie van al je duiven te kunnen opvolgen</p>
  </div>

  <h3>Bij nieuwe versie:</h3>
  <div class="alignleft">
    <p>- De nieuwe versie (bv TrainingAnalyser-v2020.2.jar) zet je in dezelfde map als de vorige (bv TrainingAnalyser-v2020.1.jar)</p>
    <p>- Vanaf nu de nieuwe versie (.jar bestand) gebruiken</p>
    <p>- De vorige versie (.jar bestand) mag je verwijderen</p>
  </div>
</div>
